body {
  font-family: raleway, sans-serif;
}

img {
  width: 160px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu p {
  padding: 8px 16px;
  border-right: 1px solid black;
}

.menu p:last-child {
  border-right: 0px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

h1 p {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.button {
  border-radius: 15px;
  background-color: rgb(243, 176, 188);
  padding: 8px 16px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 349px;
  height: 359px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container p {
  display: flex;
  /* flex: 1; */
  align-self: flex-start;
  margin-left: 25px;
}

.image-list {
  display: flex;
  justify-content: space-around;
  max-width: 780px;
  flex-flow: row wrap;
}

.card-image {
  width: 300px;
  height: 292px;
}