body {
  font-family: raleway, sans-serif;
}

img {
  width: 160px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu p {
  padding: 8px 16px;
  border-right: 1px solid black;
}

.menu p:last-child {
  border-right: 0px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

h1 p {
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  flex: 1;
  max-width: 960px;
  width: 100%;
}

.button {
  border-radius: 15px;
  background-color: rgb(243, 176, 188);
  padding: 8px 16px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
